rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /careTeam/{doc} {
      allow read, write: if request.auth != null;
    }
    match /appointments/{doc} {
      allow read, write: if request.auth != null;
    }
    match /medications/{doc} {
      allow read, write: if request.auth != null;
    }
    match /conditions/{doc} {
      allow read, write: if request.auth != null;
    }
    match /history/{doc} {
      allow read, write: if request.auth != null;
    }
    match /trends/{doc} {
      allow read, write: if request.auth != null;
    }
    match /days/{doc} {
      allow read, write: if request.auth != null;
    }
    match /supplements/{doc} {
      allow read, write: if request.auth != null;
    }
    match /medicationHistory/{doc} {
      allow read, write: if request.auth != null;
    }
    match /automaticThoughtRecords/{recordId} {
      allow read, write: if request.auth != null;
    }
    match /config/{doc} {
      allow read: if request.auth != null;
    }
  }
}
